
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.form-horizontal .btn {
  display: block;
  margin: 0 auto;
}

.user-signup__submit {
  line-height: .5em;
}

.user-signup__form {
  margin-left: -5px;
}

.user-signup__form-group {
  padding: 0 0 0 5px;
  position: relative;
}

@media all and (max-width: 767px) {
  .form-horizontal .mt-table,.form-horizontal .mt-table--full,.form-horizontal .mt-table--centered,.form-horizontal .mt-table--full,.form-horizontal .mt-td--centered-vertical {
    display: block;
  }
}

@media all and (min-width: 768px) {
  .form-horizontal .user-signup__col-2 {
    width: 1%;
  }
}

.floating-signup__wrap {
  position: fixed;
  z-index: 5;
  padding: 10px;
}

.floating-signup {
  position: relative;
  padding: 10px 20px;
}

.floaty-vertical--middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media all and (max-width: 480px) {
  .floaty-unfloat-at--xs.floating-signup__wrap {
    position: static;
    display: block;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    float: none;
  }
}

.insert--image {
  display: block;
  position: relative;
}

.insert--image.wrap-off-align-center {
  margin-left: auto;
  margin-right: auto;
}

.mt-table,.mt-table--full {
  display: table;
}

.mt-table--full {
  width: 100%;
}

.mt-td,.mt-td--centered-vertical {
  display: table-cell;
}

.mt-td--centered-vertical {
  vertical-align: middle;
}


.form-control__input {
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  height: 50px;
}

.user-signup__submit {
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  background-color: #00a651;
  color: #FFF;
}

.user-signup__submit:hover {
  background-color: #1cd861;
  color: #FFF;
}

@media all and (min-width:481px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 60px;
  }
}

@media all and (min-width:769px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 75px;
  }
}


::-webkit-input-placeholder {
 font-size: 18px;
 color: #d0cdfa;
 /*text-transform: uppercase;*/
 font-weight: bold;
 border-radius: 4px ;
border-width: 5px 0px 5px 0px;
padding: 10px;
}
:-moz-placeholder { /* older Firefox*/
 font-size:18px;
 color: #d0cdfa;
 /*text-transform: uppercase;*/
 
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 18px;
 color: #d0cdfa; 
 /*text-transform: uppercase;*/
 
 font-weight: bold;
} 
:-ms-input-placeholder { 
 font-size: 18px; 
 color: #d0cdfa;
 /*text-transform: uppercase;*/

 font-weight: bold;
}



input {
  -webkit-border-radius: 4px !important;
     -moz-border-radius: 4px !important;
          border-radius: 4px !important;
          padding-right: 10px;
}

